/* 2. 각각 다른 너비의 자식 3개를 화면 좌 중 우 로 배치하는 기법! */
/* 2_1) 부모의 justify-content를 center로 */
/* 2_2) 자식인  .status-bar__column의 너비를 각각 33%로 지정 -> 각 영역의 좌측에 자식이 위치함.*/
/* 2_3) 자식중 두번째(.status-bar__column::nth-child(2))에 flex 속성부여하고, 중간으로 위치 시킴 */
/* 2_4) 자식중 두번째(.status-bar__column::last-child에 flex 속성부여하고, 맨 우측으로 위치 시킴 */
.status-bar {
  display: flex;
  /* justify-content: space-between; //너비가 각각 다르기 때문에 가운데 시계의 위치가 이상해진다. */
  justify-content: center;

  padding-top: 5px;
  padding-right: 3px;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* No Service와 와이파이 아이콘 간의 간격이 너무 없다.  */
/* status-bar__column 첫번쨰에 해당하는 객체에 대해서 해당 객체의 span에는 right margin 5px를 적용한다.*/
.status-bar__column:first-child span {
  margin-right: 5px;
}

/* 배터리 상태 숫자와 배터리 아이콘, 충전중 아이콘의 간격이 너무 없다. */
/* status-bar__column중  fa-battery-quarter클래스 에만 간격 적용*/
.status-bar__column .fa-battery-quarter {
  margin-left: 3px;
  margin-right: 3px;
}
