body {
  height: 1000vh;
  margin: 50px;
}
input {
  border: 2px;
  border-style: solid;
  border-color: wheat;
}
input:required {
  border-color: tomato;
}
input[type="password"] {
  background-color: purple;
  opacity: 0.5;
}
/* placeholder가 "email"인 것에 대해서 스타일을 적용한다.*/
input[placeholder="email"] {
  background-color: dodgerblue;
  opacity: 0.5;
}
/* ~= placeholder에 "Addr"가 들어가는 객체에 대해서 스타일을 적용한다. */
input[placeholder~="Addr"] {
  background-color: purple;
}
