body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div {
  background-color: teal;
  width: 200px;
  height: 200px;
}
span {
  font-size: 36px;
}
@keyframes screenSmallAnim {
  from {
    border-radius: 0px;
  }
  to {
    border-radius: 30px;
  }
}

@keyframes screenBigAnim {
  from {
    border-radius: 30px;
  }
  to {
    background-color: dodgerblue;
    border-radius: 0px;
  }
}

/* 스크린의 width가 600px보다 작으면 적용되는 스타일이다.  */
@media screen and (max-width: 600px) {
  div {
    background-color: tomato;
    border-radius: 30px;
    animation: screenSmallAnim 1s ease-in-out;
  }
}

/* 스크린의 width가 600px보다 크고 800px보다 작을떄 적용되는 스타일이다.  */
@media screen and (min-width: 600px) and (max-width: 800px) {
  div {
    background-color: dodgerblue;
    animation: screenBigAnim 1s ease-in-out;
  }
}

/* 스크린이 가로보기 모드일때 적용되는 스타일이다.  */
@media screen and (orientation: landscape) {
  div {
    background-color: tomato;
    border-radius: 30px;
    animation: screenSmallAnim 1s ease-in-out;
  }
  /* 가로보기 일때는 해당 span이 나타나지 않는다.  */
  span {
    display: none;
  }
}
